* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

.main {
  height: 100%;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cursor {
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 50%;
  position: fixed;
  font-size: 5px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  z-index: 9;
}

.image {
  height: 50vh;
  width: 60vw;
  position: relative;
}

.image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: transparent;
  z-index: 10;
}
