* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  overflow-x: hidden;
}

.page1 {
  height: 100vh;
  width: 100vw;
  /* background-color: lightblue; */
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page2 {
  height: 100vh;
  width: 100vw;
  background-color: lightgreen;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  /* flex-direction: column; */
  gap: 5rem;
}

.page3 {
  height: 100vh;
  width: 100vw;
  /* background-color: lightcoral; */
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box1 {
  height: 300px;
  width: 300px;
  background-color: black;
}

.page2 h1 {
  font-size: 60px;
  position: relative;
  background-color: black;
  color: greenyellow;
  padding: 30px;
  border-radius: 20px;
}

.page2 h2 {
  font-size: 50px;
  position: relative;
  background-color: black;
  color: pink;
  padding: 30px;
  border-radius: 20px;
}

.page2 h3 {
  font-size: 40vw;
  font-weight: bold;
}
