* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  color: #fff;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #222;
}

.box1,
.box2,
.box3,
.box4 {
  width: 250px;
  height: 250px;
}

.box1 {
  background-color: #e74c3c;
}

.box2 {
  background-color: #2ecc71;
}

.box3 {
  background-color: #ff00b7;
}

.box4 {
  background-color: #702ecc;
}
